﻿@{
    ViewBag.Title = "Tác hại của việc ngủ không đúng cách";
}

<h2>Tác hại</h2>
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <h1>
                <span style="font-size: 24px;">
                    Bạn có tin rằng ngủ không đủ giấc có thể dẫn tới buồn chán,
                    béo phì và các nguy cơ khác đối với sức khỏe bản thân cũng như ảnh hưởng tới người khác?
                </span>
            </h1>
            <div class="editor-field"></div>
            <h2>
                <img src="~/Images/KenhSinhVien-tac-hai-nghiem-trong-cua-viec-di-ngu-muon.jpg" style="width:250px;height:250px;align-items:center" />
            </h2>
            <h3>
                Các chuyên gia về giấc ngủ cho rằng nếu tiếp tục kéo dài tình trạng ngủ ít hơn 7
                - 9 tiếng mỗi đêm thì sự thiếu ngủ sẽ có thể gây rắc rối lớn. “Thiếu ngủ sẽ làm
                “đảo lộn” các xúc cảm, dễ phiền muộn và cáu kỉnh. Nó cũng gây béo phì do xu hướng ăn
                nhiều hơn khi buồn chán.
                Thử nghĩ xem đã bao nhiêu ngày bạn cảm thấy “chếnh choáng” khi lái xe tới chỗ
                làm hay đi đón con? Theo các chuyên gia giấc ngủ, “thiếu ngủ 18 tiếng cũng tương tự
                như là bị say rượu vậy. Chưa kể những ảnh hưởng khác đối với sức khỏe. Một số nghiên cứu cho thấy chứng thiếu ngủ mãn có thể làm tăng nguy cơ bị rối
                loạn tâm thần, bao gồm chứng buồn chán và rối loạn lo âu. Hơn nữa, thiếu ngủ cũng
                có thể là 1 trong những nguyên nhân dẫn đến nguy cơ bị bệnh huyết áp cao, tim mạch
                Vậy nếu chị em bị thiếu ngủ thì phải làm gì? Trước hết nên ưu tiên cho
                sự nghỉ ngơi rồi mới bắt đầu thực hiện theo các gợi ý dưới đây:
                hay tiểu đường.
            </h3>
            <p>
            </p>
        </div>
    </section>
}
<ol class="round"></ol>