﻿@model BaoCao.Models.Comment

<div class="display-field">
    <b>@Html.DisplayFor(model => model.Author)</b>
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Body)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.LastTime)
</div>
