﻿@model Blog4_Update.Models.Comment

<div class="display-field">
    @Html.DisplayFor(model => model.Author)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Body)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.DateUpdated)
</div>