﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/style.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body background="~/Images/back.gif">
    <header>
        <div class="content-wrapper">
            <div class="float-left">
                <img src="~/Images/pikachu.png" style=" width:960px;height:300px" />
            </div>
            <div class="float-right">
                <section id="login" style="font-size:medium">
                    <form class="groupsJumpHeaderSearch"
                          action="/Post/search/"
                          method="get" onsubmit="return window.Event &amp;&amp;
                                         Event.__inlineSubmit &amp;&amp; Event.__inlineSubmit(this,event)"
                          id="u_jsonp_3_q">
                        <span class="uiSearchInput">
                            <span>
                                <input type="text"
                                       class="inputtext DOMControl_placeholder" maxlength="100"
                                       aria-label="Search" name="query" required="1" placeholder="Nhập nội dung cần tìm"
                                       autocomplete="off" value="" aria-required="true" style="">
                                <button type="submit" title="Search this group">
                                    <span class="accessible_elem">
                                        Tìm
                                    </span>
                                </button>
                            </span>
                        </span>
                    </form> @Html.Partial("_LoginPartial")
                </section>
            </div>
        </div>
    </header>
    <div id="body" style="height:1000px;width:750px">
        @RenderSection("featured", required: false)
        <ul class="drop" style=" height:60px;width:180px;font-size:16px">
            <li><a href="http://localhost:4694 ">Trang chủ</a></li>
            <li><a href="http://localhost:4694/Home/TacHai">Tác hại</a></li>
            <li><a href="#">Lợi ích</a></li>
            <li><a href="#">Phương pháp</a></li>
            <li><a href="http://localhost:4694/Post">Diễn đàn</a></li>
            <li><a href="#">Sự kiện</a></li>
        </ul>
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer style=" height:50px;width:730px">
        <div class=" float-right">
            Đang Online
            <br />
            <script id="_wauxr8">
                var _wau = _wau || []; _wau.push(["classic", "u7d326xooqw9", "xr8"]);
                (function () {
                    var s = document.createElement("script"); s.async = true;
                    s.src = "http://widgets.amung.us/classic.js";
                    document.getElementsByTagName("head")[0].appendChild(s);
                })();


            </script>
        </div>
    </footer>
    @RenderSection("scripts", required: false)
</body>
</html>
