﻿@model Blog4_Update.Models.Tag

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_ViewTaginPost</title>
</head>
<body>
    <div>
        <table>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => new Blog4_Update.Models.Post().Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => new Blog4_Update.Models.Post().Body)
                </th>
                <th>
                    @Html.DisplayNameFor(model => new Blog4_Update.Models.Post().DateCreated)
                </th>
                <th>
                    @Html.DisplayNameFor(model => new Blog4_Update.Models.Post().DateUpdated)
                </th>
                <th>
                    @Html.DisplayNameFor(model => new Blog4_Update.Models.Post().UserProfiles.UserName)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.Posts)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Body)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateCreated)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateUpdated)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserProfiles.UserName)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                    </td>
                </tr>
            }

        </table>

    </div>
</body>
</html>
