﻿@model Blog4_Update.Models.Post

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Post</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Body)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Body)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateCreated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateCreated)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateUpdated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateUpdated)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserProfiles.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserProfiles.UserName)
    </div>
</fieldset>
@Html.Partial("_addComment", new Blog4_Update.Models.Comment(), ViewData)
<fieldset>
    <legend>Comment</legend>
    @foreach (var comment in Model.Comments.OrderByDescending(x=>x.DateUpdated).Take(10))
    { 
        <div class="display-field">
            @Html.DisplayFor(x => comment.Author)
        </div>
        <div class="display-field">
            @Html.DisplayFor(x => comment.Body)
        </div>
        <div class="display-field">
            @Html.DisplayFor(x => comment.DateUpdated)
        </div>
    }
</fieldset>
<fieldset>
    <legend>Comment</legend>
    @foreach (var tag in Model.Tags)
    {
        <div class="display-field">
            @Html.ActionLink(tag.Content, "_ViewTaginPost/" + tag.ID, "Post")

        </div>
    }
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
