﻿ul.drop{
 list-style:none;
 margin:-205px;
 padding:0px;
 width:200px;
 border:1px solid #f1f1f1;
}
ul.drop li,ul.drop li a{ 
 border-bottom:2px solid #1e1d27;
 height:60px;
 line-height:60px;
 padding-left:20px;
 position:relative;
    display: block;
    text-decoration: none;
    color: Background;
}
ul.drop li:hover,ul.drop li a:hover{
 display:block;
 background:#fbfbfb;
    color: red;
}
ul.drop li > ul.drop{
 position:absolute;
 top:0px; 
 left:200px;
 display:none;
}
ul.drop li:hover > ul.drop{
 display:block;
}