﻿@model Blog_2.Models.Post

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Post</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Body)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Body)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateCreated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateCreated)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateUpdated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateUpdated)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AccountId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AccountId)
    </div>
</fieldset>

@Html.Partial("_addComment", new Blog_2.Models.Comment(),ViewData);

<fieldset>
    <legend>Comment</legend>
    @foreach (var comment in Model.Comments.OrderByDescending(x => x.DateUpdated).Take(10))
    {
        <div class="display-field">
            @Html.DisplayFor(x => comment.Author)
        </div>
        <div class="display-field">
            @Html.DisplayFor(x => comment.Body)
        </div>
        <div class="display-field">
            @Html.DisplayFor(x => comment.DateUpdated)
        </div>
    }
</fieldset>

    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>

