﻿@model BaoCao.Models.Tag
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Liên quan</title>
</head>
<body>
    <div>
        <table>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => new BaoCao.Models.Post().Body)
                </th>
                <th>
                    @Html.DisplayNameFor(model => new BaoCao.Models.Post().DateCreated)
                </th>
                <th>
                    @Html.DisplayNameFor(model => new BaoCao.Models.Post().DateUpdated)
                </th>
                <th>
                    @Html.DisplayNameFor(model => new BaoCao.Models.Post().UserProfiles.UserName)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.Posts)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Body)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateCreated)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateUpdated)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserProfiles.UserName)
                    </td>
                    <td>
                        @Html.ActionLink("Sửa", "Edit", new { id = item.ID }) |
                        @Html.ActionLink("Chi tiết", "Details", new { id = item.ID }) |
                        @Html.ActionLink("Xóa", "Delete", new { id = item.ID })
                    </td>
                </tr>
            }

        </table>
    </div>
</body>
</html>
