﻿@model BaoCao.Models.Post

@{
    ViewBag.Title = "Thêm đề tài";
}

<h2>Tạo</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Đề tài</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Body)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Body)
            @Html.ValidationMessageFor(model => model.Body)
        </div>

        <div class="editor-label">
            Tag:
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => new BaoCao.Models.Tag().Content)
            @Html.ValidationMessageFor(model => new BaoCao.Models.Tag().Content)
        </div>


        <p>
            <input type="submit" value="Đăng" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Trở về danh sách", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
