﻿@model BaoCao.Models.Post

@{
    ViewBag.Title = "Chi tiết";
}

<fieldset>
    <div class="display-field">
        <b>Người đăng:</b> @Html.DisplayFor(model => model.UserProfiles.UserName)
    </div>
    <div class="display-field">
        <b>@Html.DisplayNameFor(model => model.Body):</b> @Html.DisplayFor(model => model.Body)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateUpdated)
    </div>
    <p>
        @Html.ActionLink("Sửa", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Trở về danh sách", "Index")
    </p>

    @Html.Partial("_addComment", new BaoCao.Models.Comment(), ViewData)
    <div id="result">
        @foreach (var comment in Model.Comments.OrderByDescending(x => x.DateUpdated).Take(10))
        {
            <div class="display-field">
                <b>@Html.DisplayFor(x => comment.Author)</b>
            </div>
            <div class="display-field">
                @Html.DisplayFor(x => comment.Body)
            </div>
            <div class="display-field">
                <b>Cách đây:</b> @Html.DisplayFor(x => comment.LastTime)
            </div>
            <td>
                <a href="http://localhost:1621/Comment/Edit/@comment.Id">Sửa</a>
                @Html.ActionLink("Sửa", "Edit", new { id = comment.Id, postid = comment.PostId }) |
                @Html.ActionLink("Details", "Details", new { id = comment.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = comment.Id })
            </td>
            <div class="display-field"></div>
        }
    </div>
    <div class="display-field"></div>
    <div class="display-label">
        <b>Liên quan:</b>
        @foreach (var tag in Model.Tags)
        {
            @Html.ActionLink(tag.Content, "_ViewTaginPost/" + tag.ID, "Post")
        }
    </div>
</fieldset>