﻿@model IEnumerable<BaoCao.Models.Post>

@{
    ViewBag.Title = "Diễn đàn";
}

<h2>Diễn đàn</h2>

<p>
    @Html.ActionLink("Thêm đề tài", "Create")
</p>
<style>
    table, th, td {
        border: 0px solid blue;
        border-collapse: collapse;
    }
</style>
<table>
    <tr>
        <th width=" 100"></th>
        <th width=" 300">Nội dung</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td width="100">
                <b>@Html.DisplayFor(modelItem => item.UserProfiles.UserName):</b>
            </td>
            <td width="300">
                @Html.DisplayFor(modelItem => item.Body)
            </td>

            <td width="150">
                @Html.ActionLink("Sửa", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Chi tiết", "Details", new { id = item.ID }) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.ID })
            </td>
        </tr>
    }
</table>
