﻿@model BaoCao.Models.RegisterModel
@{
    ViewBag.Title = "Đăng kí";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Tạo tài khoản mới</h2>
</hgroup>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Đăng kí</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email)
            </li>
            <li>
                <a class=""
                @Html.LabelFor(m => m.AnhDaiDien)
                @Html.(m => m.AnhDaiDien)
                @Html.Partial("FileUpload", new BaoCao.Models.UserProfile())
            </li>
        </ol>
        <input type="submit" value="Đăng kí" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
